:host {
  ion-content {
    --background: white;
  }
}

ion-virtual-scroll {
  width: 100%;
  margin-top: 8px;
  .card {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    height: 100px;
    background: #fafafa;
    //material drop shadow
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    .avatar {
      padding: 5px;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-img {
        width: auto;
        height: 100%;
        mix-blend-mode: multiply;
        filter: contrast(1);
      }
    }

    .drug-details {
      padding: 5px;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .tradename {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        //trim text
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .activeingredient {
        font-size: 15px;
        color: #777;
        margin: 0;
        //trim text
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.store-badge{
  position: fixed;
  bottom: 0;
  left: calc(50% - 80px);
  height: 50px;
}
